/* //////////////////////////// */
/* GENERAL */
* {
  padding: 0px;
  margin: 0px;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Montserrat Alternates";
  background-color: #BABFBE;
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}/* GENERAL */
/* //////////////////////////// */



/* //////////////////////////// */
/* ELEMENTOS SUELTOS */

.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2EA690;
  width: 100%;
  margin-bottom: -32px;
  color: white;
  box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer {
  text-align: center;
  padding: 4px;
}

.textWWlink{
  font-weight: 1000;
  padding: 4px;
  text-decoration: none;
  color: white; 
  margin-bottom: -27px;

  
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  /* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.navHashLink {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 300;
  padding: 10px;
  width: 90%;
}

.hashLink {
  text-decoration: none;
}

.note-content {
  padding: 3px;
  border-radius: 10px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(255, 255, 255);
}

.footer-content-1 {
  text-transform: uppercase;
  margin-left: 4px;
  font-weight: 500;
}

.logo-whatsapp {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 10px;
  top: 42%;
  z-index: 2000;
}

.logo-instagram {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 10px;
  top: 35%;
  z-index: 2000;
}

.note-content {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 10px;
  top: 92%;
  z-index: 1000;
}

.nav-color {
  background: rgb(0,0,0);
  background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(47,42,42,0.8435749299719888) 50%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(47,42,42,0.8435749299719888) 50%, rgba(0,0,0,1) 100%);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(47,42,42,0.8435749299719888) 50%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #736663;
  color: white;
  /* padding: 25px; */
  border-bottom-left-radius: 85px;
  border-bottom-right-radius: 85px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.DAD {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 10px; */
  padding-left: 10px;
  padding-right: 10px;
}

.textWW {
  font-weight: 1000;
  /* margin-top: -20px; */
}

.textDAD {
  font-family: 'Bungee Shade', cursive;
  margin-left: 12px;
  font-size: 120px;
  font-weight: 100;
  margin-bottom: 0px;
}

.woodwork {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  width: fit-content;
  height: fit-content;
  margin-bottom: 15px;
}

.middlebarContainer {
  margin: 2px;
  padding: 4px;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 200px;
  height: fit-content;
  border-radius: 6px;
}

.textMiddlebar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-family: "Montserrat Alternates";
  margin: 2px;
  padding: 4px;
  color: white;
  background-color:#2EA690;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 200px;
  height: fit-content;
  border-radius: 6px;
  font-size: larger;
  font-weight: 1000;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* ELEMENTOS SUELTOS */
/* //////////////////////////// */



/* //////////////////////////// */
/* ABOUT */
.containerText-AboutUs {
  background: #736663;
  color: white;
  padding: 20px;
  font-size: x-large;
  font-weight: 800;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 15px;
}

.containerText-AboutUs-1 {
  background: #2EA690;
  color: white;
  padding: 20px;
  font-size: x-large;
  font-weight: 800;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* .aboutUs-mainContaniner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
} */
/* ABOUT */
/* //////////////////////////// */


/* //////////////////////////// */
/* HOW WE WORK */
.mainContainer-hww {
display: flex;
justify-content: center;
align-items: center;
padding: 6px;
}

.container-hww {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr  repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 4px;
  grid-row-gap: 50px;
  padding: 6px;
  }

.ArrowContainer-hww{
  height: 40px;
  width: 70px;

  -webkit-animation:appear 2.5s ease 0s 1 normal;
-moz-animation:appear 2.5s ease 0s 1 normal;
-ms-animation:appear 2.5s ease 0s 1 normal;
animation:appear 2.5s ease 0s 1 normal;
}

@-webkit-keyframes appear {
0%{ opacity: 0; -webkit-transform: scale3d(0.3, 0.3, 0.3); transform: scale3d(0.3, 0.3, 0.3); }
60%{ opacity: 1; -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1); }
}
@keyframes appear {
0%{ opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
60%{ opacity: 1; transform: scale3d(1,1,1); }

}

.individualContainer-hww {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contentContainer-hww {
  background-color: #736663;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 90%;
  width: 90%;
  font-size: x-large;
  padding: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;

  -webkit-animation:appear 2.5s ease 0s 1 normal;
-moz-animation:appear 2.5s ease 0s 1 normal;
-ms-animation:appear 2.5s ease 0s 1 normal;
animation:appear 2.5s ease 0s 1 normal;
}

@-webkit-keyframes appear {
0%{ opacity: 0; -webkit-transform: scale3d(0.3, 0.3, 0.3); transform: scale3d(0.3, 0.3, 0.3); }
60%{ opacity: 1; -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1); }
}
@keyframes appear {
0%{ opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
60%{ opacity: 1; transform: scale3d(1,1,1); }

}

.containerLogo-hww {
 height: 75px;
 width: 75px;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 10px;
}
/* HOW WE WORK */
/* //////////////////////////// */


/* //////////////////////////// */
/* JOBS */
.mainContainer-jobs{
  display: flex;
  margin: 4px;
  padding: 6px;
  justify-content: center;
  align-items: center;
}

.contentGrid-jobs {
   display: grid; 
   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 20px;
   height: 100%;   
}

.contentContainer-jobs {
  display: flex;
  flex-direction: column;
  margin: 6px;
  padding: 6px;
  justify-content: center;
  align-items: flex-start;
  font-style: italic;
  /* background-color: white; */
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

-webkit-animation:appear 2.5s ease 0s 1 normal;
-moz-animation:appear 2.5s ease 0s 1 normal;
-ms-animation:appear 2.5s ease 0s 1 normal;
animation:appear 2.5s ease 0s 1 normal;
}

@-webkit-keyframes appear {
0%{ opacity: 0; -webkit-transform: scale3d(0.3, 0.3, 0.3); transform: scale3d(0.3, 0.3, 0.3); }
60%{ opacity: 1; -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1); }
}
@keyframes appear {
0%{ opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
60%{ opacity: 1; transform: scale3d(1,1,1); }
}

/* JOBS */
/* //////////////////////////// */


/* //////////////////////////// */
/* PEQUEÑOS */

.container-down {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: fit-content;
  text-align: center;
  padding: 30px;
  -webkit-animation:appear 2.5s ease 0s 1 normal;
-moz-animation:appear 2.5s ease 0s 1 normal;
-ms-animation:appear 2.5s ease 0s 1 normal;
animation:appear 2.5s ease 0s 1 normal;
font-weight: 1000;
font-size:large;
background: rgba(69, 89, 49, 0.6);
color: white;
border-radius: 10px;
background-color: #736663;
}

@-webkit-keyframes appear {
0%{ opacity: 0; -webkit-transform: scale3d(0.3, 0.3, 0.3); transform: scale3d(0.3, 0.3, 0.3); }
60%{ opacity: 1; -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1); }
}
@keyframes appear {
0%{ opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
60%{ opacity: 1; transform: scale3d(1,1,1); }
}

.container-up {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}



.contentContainer-jobsP {
  display: flex;
  flex-direction: column;
  margin: 18px;
  padding: 6px;
  justify-content: center;
  align-items: flex-start;
  font-style: italic;
  /* background-color: white; */
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

-webkit-animation:appear 2.5s ease 0s 1 normal;
-moz-animation:appear 2.5s ease 0s 1 normal;
-ms-animation:appear 2.5s ease 0s 1 normal;
animation:appear 2.5s ease 0s 1 normal;
}

@-webkit-keyframes appear {
0%{ opacity: 0; -webkit-transform: scale3d(0.3, 0.3, 0.3); transform: scale3d(0.3, 0.3, 0.3); }
60%{ opacity: 1; -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1); }
}
@keyframes appear {
0%{ opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
60%{ opacity: 1; transform: scale3d(1,1,1); }
}

.mainPequeños {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* PEQUEÑOS */
/* //////////////////////////// */



/* //////////////////////////// */
/* A partir de aqui esta @media */

@media (max-width: 1024px) {

  body img {
    width: 100%;
    height: 100%;
  }

  .container-up {
    width: 91%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .contentContainer-jobs {
    display: flex;
    flex-direction: column;
    width: 96%;
    margin: 6px;
    padding: 6px;
    justify-content: center;
    align-items: flex-start;
    font-style: italic;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .contentGrid-jobs {
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    gap: 20px;
    height: 100%;   
 }

  .logo-whatsapp {
    display: block;
    flex-direction: column;
    position: fixed;
    right: 10px;
    top: 42%;
    z-index: 1000;
    transform:  scale(0.8);
  }
  
  .logo-instagram {
    display: block;
    flex-direction: column;
    position: fixed;
    right: 10px;
    top: 32.5%;
    z-index: 1000;
    transform:  scale(0.8);
  }
  .contentContainer-hww {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 90%;
    font-size: x-large;
    padding: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
  }

  .container-hww {
    height: 215vh;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(12, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 10px;
      padding: 10px;
    }

    .ArrowContainer-hww{
      display: none;
      justify-content: center;
      align-items: center;
      height: 70px;
      width: 40px;
      transform: rotate(90deg);
    }


  .aboutUs-mainContaniner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .containerText-AboutUs {
    /* padding: 20px; */
    font-size:medium;
    width: 100%;
  }
}

